.input-login{
    margin: 1rem !important;
    border-radius: 0.3rem;
    padding: 0.2rem;
  }
  .form-button{
    margin: 0.5rem;
    width: 50%;
  }
  .button-sumbit-home{
    background-color: rgb(113, 113, 204) !important;
  }
  .button-sumbit-search {
    background-color: rgb(196, 147, 73) !important;
  }