.skill-name {
    border-radius: 0.25rem 0rem 0rem 1rem;
    height: 2rem;
    text-align: center;
    backdrop-filter: blur(10px) saturate(180%);
    -webkit-backdrop-filter: blur(10px) saturate(180%);
    background-color: #f7f7f721;
}
.skills-progress {
    display: flex;
    height: 2rem;
    overflow: hidden;
    font-size: 0.75rem;
    background-color: rgba(255, 255, 255, 0.63);
    border-radius: 0rem 0.25rem 1rem 0rem;
    color: black;
}
.orange-bar div {
    border-radius: 0rem 0.25rem 1rem 0rem !important;
    background: #dd9d22!important;
    background: linear-gradient(
        90deg,
        #ac7819 15%,
        #be861d 49%,
        #dd9d22 78%,
        #ffb732 100%
    ) !important;
}
.green-bar div {
    border-radius: 0rem 0.25rem 1rem 0rem !important;
    background: #4db53c !important;
    background: linear-gradient(
        90deg,
        #38882c 15%,
        #439e34 49%,
        #4db53c 78%,
        #5bda47 100%
    ) !important;
}

@media screen and (max-width: 435px) {
      .skill-name {
        font-size: 14px;
    }
}
@media screen and (max-width: 361px), screen and (max-height: 668px) {
    .skill-name {
        font-size: 12px;
    }
}
@media screen and (max-width: 355px) {
    /* Skills */
    .skill-name {
        font-size: 12px;
    }
}
@media screen and (max-width: 281px), screen and (max-height: 654px) {
    .skill-name {
        font-size: 11px;
    }
}