.footer-style{
    background-color: rgba(128, 128, 128, 0.596) ;
}
.social-icon {
    margin: 0 0.2rem;
    color: whitesmoke !important;
    width: 1rem;
    font-size: 2rem;
    cursor: pointer;
}
.social-icon-top {
    margin: 0 0.4rem;
    color: whitesmoke !important;
    width: 2rem;
    font-size: 2rem;
    cursor: pointer;
}