body {
  box-sizing: border-box;
}
.schema-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.bg-home{
  background-image: linear-gradient(to right, #a270ce1f, #4b00e041), url("./assets/wordimage.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: white;
}
.bg-search{
  background-image: linear-gradient(to right, #9c6e432d, #7028074f), url("./assets/planet2image.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: white;
}

.searchPage-container{
  height: 65vh;
}
/* Spinner */
.center-spinner {
  top: 50vh;
  left: 50%;
}.center-spinner  div {
  margin-left: -50%;
}

/* search form */
.search-form {
  width: 50%;
}
@media screen and (max-width: 768px) {
  .search-form {
      width: 100%;
  }
}
.search-input {
  border:0 !important;
  border-radius: 0 1rem 1rem 0;
  cursor: pointer;
}
.search-input:focus {
  outline: none;
}
.search-icon {
  border: 0 !important;
  border-radius: 1rem 0 0 1rem;
  position: relative;
  flex: 1 1 auto;
  width: 1%;
  min-width: 0;
  align-items: center;
  padding: 0.375rem 0.75rem;
  font-weight: 400;
  line-height: 1.5;
  color: #b59062;
  text-align: center;
  white-space: nowrap;
  background-color: white;
}
